app/templates/email/reset_password.html: HTML for password reset email.

<!doctype html>
<html>
    <body>
        <p>Szlachetny {{ user.username }},</p>
        <p>
            By zamek do twego skarbca tajemnic na nowo uformować, kliknij na ten oto
            <a href="{{ url_for('reset_password', token=token, _external=True) }}">
                pergamin
            </a>.
        </p>
        <p>Możesz też wkleić ten oto zwój w pasek twej przeglądarki:</p>
        <p>{{ url_for('reset_password', token=token, _external=True) }}</p>
        <p>Jeśli nie tyś o zmianę klucza prosił, zignoruj tę wieść, jakbyś wiatr w puszczy mijał.</p>
        <p>Z poważaniem,</p>
        <p>Drużyna Epic Games</p>
    </body>
</html>