<!DOCTYPE html>
<head>
    {% if title %}
    <title>{{ title }} - Praktyki</title>
    {% else %}
    <title>Witaj na Stronie!</title>
    {% endif %}
</head>
<body>
    <div>
        Praktyka: 
        <a href="{{ url_for('index') }}">Strona Główna</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Zaloguj</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Wyloguj</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>