<!DOCTYPE html>
<head>
    {% if title %}
    <title>{{ title }} - Praktyki</title>
    {% else %}
    <title>Witaj na Stronie!</title>
    {% endif %}
</head>
<body>
    <div>
         <div>
            Microblog:
            <a href="{{ url_for('index') }}">Strona główna</a>
            <a href="{{ url_for('explore') }}">Explore</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Zagogluj sie</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.nazwa) }}">Profil</a>
            <a href="{{ url_for('logout') }}">Wygugluj sie</a>
            {% endif %}
        </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>