{% extends "base.html" %}

{% block content %}
    <h1>Stwórz Konto!</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.nazwa.label }}
            {{ form.nazwa(size=32) }}
            {% for error in form.nazwa.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.haslo.label }}<br>
            {{ form.haslo(size=32) }}<br>
            {% for error in form.haslo.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.haslo2.label }}<br>
            {{ form.haslo2(size=32) }}<br>
            {% for error in form.haslo.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p> {{ form.submit() }} </p>
    </form>
{% endblock %}