{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>Użytkownik: {{ user.nazwa }}</h1>
                {% if user.o_mnie %}<p>{{ user.o_mnie }}</p>{% endif %}
                {% if user.ostatnio_widziany %}
                <p>
                    Ostatnio widziany: {{ user.ostatnio_widziany }}
                </p>
                {% endif %}
                <p>{{ user.followers_count() }} obserwujących, {{user.following_count()}} obserwowanych</p>
                {% if user == current_user %}
                <p><a href="{{ url_for('edytuj_profil') }}">Edytuj Profil</a></p>
                {% elif not current_user.is_following(user) %}
                <p>
                    <form action="{{ url_for('follow', nazwa=user.nazwa) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Obserwuj') }}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('unfollow', nazwa=user.nazwa) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Przestań obserwować') }}
                    </form>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
        <a href="{{ prev_url }}">Nowsze wpisy</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Starsze wpisy</a>
    {% endif %}
{% endblock %}